.socialsBar {
  @apply z-[9999] flex flex-col items-center fixed bottom-0 left-0 px-4 sm:hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 24px;
}

.socialsBar > a {
  @apply text-blue-light;
}

.socialsBarIcons {
  transition: all 300ms ease-in-out;
}
.socialsBarIcons:hover {
  @apply text-blue-light;
  /* fill: rgb(56, 200, 236) !important; */
  /* For christmas theme */
  fill: rgb(255, 237, 121) !important;
}
