.socialsBar {
  @apply z-[60] flex flex-col gap-6 items-center fixed left-4 px-4 py-5 sm:hidden;
  top: 50%;
  transform: translateY(-50%);
}

.socialsBar > a {
  @apply text-blue-light;
}

.socialsBarIcons {
  transition: all 300ms ease-in-out;
}
.socialsBarIcons:hover {
  @apply text-blue-light;
  /* fill: rgb(56, 200, 236) !important; */
  /* For christmas theme */
  fill: rgb(255, 237, 121) !important;
}
